## **import your libraries**

In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_selection import SelectPercentile , chi2
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

#**read your data**

In [2]:
df = pd.read_csv("heart.csv")

#**check for null values**

In [3]:
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

#**summrize your data**

In [4]:
df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [5]:
X= df.drop('target' , axis = 1)
y = df.target

#**show the collaboration of the cols and drop not important cols "hint:use heatmap"**

In [6]:
df.corr()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
age,1.000000,-0.098447,-0.068653,0.279351,0.213678,0.121308,-0.116211,-0.398522,0.096801,0.210013,-0.168814,0.276326,0.068001,-0.225439
sex,-0.098447,1.000000,-0.049353,-0.056769,-0.197912,0.045032,-0.058196,-0.044020,0.141664,0.096093,-0.030711,0.118261,0.210041,-0.280937
cp,-0.068653,-0.049353,1.000000,0.047608,-0.076904,0.094444,0.044421,0.295762,-0.394280,-0.149230,0.119717,-0.181053,-0.161736,0.433798
trestbps,0.279351,-0.056769,0.047608,1.000000,0.123174,0.177531,-0.114103,-0.046698,0.067616,0.193216,-0.121475,0.101389,0.062210,-0.144931
chol,0.213678,-0.197912,-0.076904,0.123174,1.000000,0.013294,-0.151040,-0.009940,0.067023,0.053952,-0.004038,0.070511,0.098803,-0.085239
fbs,0.121308,0.045032,0.094444,0.177531,0.013294,1.000000,-0.084189,-0.008567,0.025665,0.005747,-0.059894,0.137979,-0.032019,-0.028046
restecg,-0.116211,-0.058196,0.044421,-0.114103,-0.151040,-0.084189,1.000000,0.044123,-0.070733,-0.058770,0.093045,-0.072042,-0.011981,0.137230
thalach,-0.398522,-0.044020,0.295762,-0.046698,-0.009940,-0.008567,0.044123,1.000000,-0.378812,-0.344187,0.386784,-0.213177,-0.096439,0.421741
exang,0.096801,0.141664,-0.394280,0.067616,0.067023,0.025665,-0.070733,-0.378812,1.000000,0.288223,-0.257748,0.115739,0.206754,-0.436757
oldpeak,0.210013,0.096093,-0.149230,0.193216,0.053952,0.005747,-0.058770,-0.344187,0.288223,1.000000,-0.577537,0.222682,0.210244,-0.430696
slope,-0.168814,-0.030711,0.119717,-0.121475,-0.004038,-0.059894,0.093045,0.386784,-0.257748,-0.577537,1.000000,-0.080155,-0.104764,0.345877
ca,0.276326,0.118261,-0.181053,0.101389,0.070511,0.137979,-0.072042,-0.213177,0.115739,0.222682,-0.080155,1.000000,0.151832,-0.391724
thal,0.068001,0.210041,-0.161736,0.062210,0.098803,-0.032019,-0.011981,-0.096439,0.206754,0.210244,-0.104764,0.151832,1.000000,-0.344029
target,-0.225439,-0.280937,0.433798,-0.144931,-0.085239,-0.028046,0.137230,0.421741,-0.436757,-0.430696,0.345877,-0.391724,-0.344029,1.000000

In [7]:
FeatureSelection = SelectPercentile(score_func = chi2, percentile=70)
X_new = FeatureSelection.fit_transform(X, y)
columns = np.asarray(X.columns.values)
support = np.asarray(FeatureSelection.get_support())
columns_with_support = columns[support]
X_new = pd.DataFrame(X_new , columns= columns_with_support)

In [8]:
X_new.head()

    age   cp  trestbps   chol  thalach  exang  oldpeak  slope   ca
0  63.0  3.0     145.0  233.0    150.0    0.0      2.3    0.0  0.0
1  37.0  2.0     130.0  250.0    187.0    0.0      3.5    0.0  0.0
2  41.0  1.0     130.0  204.0    172.0    0.0      1.4    2.0  0.0
3  56.0  1.0     120.0  236.0    178.0    0.0      0.8    2.0  0.0
4  57.0  0.0     120.0  354.0    163.0    1.0      0.6    2.0  0.0

#**split your data to inputs and output (X, Y)**

In [ ]:
# X_train , X_test , y_train , y_test = train_test_split(X_new , y , test_size=0.2 , random_state=44)

#**split inputs and output to train and test and show the shape**

In [10]:
X_train , X_test , y_train , y_test = train_test_split(X_new , y , test_size=0.2 , random_state=44)

#**import logistic regression model and apply it**

In [12]:
Model = LogisticRegression()
Model.fit(X_train , y_train)
y_pred = Model.predict(X_test)

#**Predict the Test set results**

#**show the accurecy of train and test**

In [13]:
Model.score(X_train , y_train)

0.8140495867768595

In [14]:
Model.score(X_test , y_test)

0.8360655737704918

#**import confusion_matrix and apply it in our example**

In [16]:
from sklearn.metrics import confusion_matrix ,classification_report
conf = confusion_matrix(y_test , y_pred)
print(conf)
ClassificationReport = classification_report(y_test,y_pred)
print(ClassificationReport )

[[22  6]
 [ 4 29]]
              precision    recall  f1-score   support

           0       0.85      0.79      0.81        28
           1       0.83      0.88      0.85        33

    accuracy                           0.84        61
   macro avg       0.84      0.83      0.83        61
weighted avg       0.84      0.84      0.84        61

#**Classification Report**

In [17]:
from sklearn.ensemble import RandomForestClassifier , GradientBoostingClassifier

In [43]:
RFC = RandomForestClassifier(n_estimators=80 , max_leaf_nodes =2 , n_jobs=-1 )
RFC.fit(X_train , y_train)
y_pred = RFC.predict(X_test)

In [44]:
RFC.score(X_train , y_train)

0.8429752066115702

In [45]:
RFC.score(X_test , y_test)

0.8524590163934426

In [21]:
ClassificationReport = classification_report(y_test,y_pred)
print(ClassificationReport )
conf = confusion_matrix(y_test , y_pred)
print(conf)

              precision    recall  f1-score   support

           0       0.85      0.82      0.84        28
           1       0.85      0.88      0.87        33

    accuracy                           0.85        61
   macro avg       0.85      0.85      0.85        61
weighted avg       0.85      0.85      0.85        61

[[23  5]
 [ 4 29]]

In [69]:
clf = GradientBoostingClassifier(n_estimators=70, learning_rate=0.09,max_depth=1, random_state=2).fit(X_train, y_train)
clf.score(X_train, y_train)

0.8636363636363636

In [70]:
clf.score(X_test, y_test)

0.8852459016393442